header {
    background-color: blue;
    color: white;
}

nav {
    background-color: red;
    color: white;
}

main {
    background-color: yellow;
    color: black;
}

aside {
    background-color: greenyellow;
    color: black;
}

footer {
    background-color: blue;
    color: white;
}